.header,
.main,
body,
footer {
  max-width: 100vw;
}
#main-bg,
.actors-ul li,
.right,
.text-content,
body {
  -webkit-box-orient: vertical;
}
#bio-info,
#side-info {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
}
.logo > p,
li a:hover {
  color: #d22e2e;
}
#bio-info,
#main-bg,
#side-info,
.actors-ul li,
.info > div,
.right,
.text-content,
body {
  -webkit-box-direction: normal;
}
.actors-ul li,
.logo,
.movie-card,
.movie-card2,
.search-icon {
  cursor: pointer;
}
#hello,
li,
li a,
p span {
  color: #fff;
}
#act-picture,
.movie-card,
.movie-card2,
img.actor-box {
  -webkit-box-shadow: 0 0 50px 10px rgba(255, 255, 255, 0.25);
  box-shadow: 0 0 50px 10px rgba(255, 255, 255, 0.25);
}
.actors-h2,
.actors-p,
body,
div.actorReview,
html {
  font-family: Inter, sans-serif;
}
#side-info h3,
#title-name {
  font-weight: 900;
}
#title-name,
.actors-p,
.singleActor-h3,
.singleActor-h4 {
  text-align: center;
}
.actors-h2::after,
.dropdown-container,
html,
img.actor-box {
  position: relative;
}
.dropdown,
div.reviewBG {
  position: absolute;
  left: 0;
}
.dropdown,
li {
  list-style-type: none;
}
.dropdown li a,
.text-content a,
li a,
li a:hover {
  text-decoration: none;
}
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  -webkit-box-sizing: 0;
  box-sizing: 0;
}
html {
  font-size: 10px;
}
.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.grid-3 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr) [3];
  grid-template-columns: repeat(3, 1fr);
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
#side-info,
.actmovie,
.actors-main,
.actors-ul,
body,
div.reviewBG {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.center-text {
  text-align: center;
}
.header {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  background-color: #1d1d1d;
  padding: 1rem 2rem;
}
#main-bg,
#search,
#spidy img,
.authors-container a,
.authors-container a img,
.movies-container,
.search-icon,
li,
li svg,
ul {
  max-width: 100%;
}
header img {
  width: 5rem;
  color: #000;
  height: auto;
}
.logo {
  gap: 1rem;
}
.logo > p {
  font-size: 3rem;
  font-weight: 700;
}
ul {
  gap: 1.8rem;
  font-size: 1.5rem;
}
ul li a p {
  margin-bottom: 0;
}
li svg {
  width: 1.5rem;
  stroke: #fff;
  -ms-flex-item-align: end;
  align-self: flex-end;
}
.search-container {
  border-radius: 10rem;
  padding: 0.5rem;
  background-color: #fff;
  max-width: 100%;
}
#search {
  border: none;
  outline: 0;
  width: 80%;
}
.search-icon {
  color: #101010;
  width: 2rem;
}
.left,
.right {
  width: 50vw;
  height: 90rem;
}
.main {
  min-height: 100vh;
  /* height: 80rem; */
  background: -o-linear-gradient(top, #1f1f1fed, #000, #1f1f1f);
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#1f1f1fed),
    color-stop(#000),
    to(#1f1f1f)
  );
  background: linear-gradient(to bottom, #1f1f1fed, #000, #1f1f1f);
}
#act-picture,
#spidy,
.left {
  background-size: 100% 100%;
}
.left {
  background-image: -o-linear-gradient(
      top,
      rgba(26, 235, 50, 0),
      rgba(235, 10, 10, 0.8)
    ),
    url("../images/Spiderman.jpg");
  background-image: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(rgba(26, 235, 50, 0)),
      to(rgba(235, 10, 10, 0.8))
    ),
    url("../images/Spiderman.jpg");
  background-image: linear-gradient(
      to bottom,
      rgba(26, 235, 50, 0),
      rgba(235, 10, 10, 0.8)
    ),
    url("../images/Spiderman.jpg");
  /* background-image: url("../images/logo.jpg") */
  background-repeat: no-repeat;
  color: #fff;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: end;
  padding-bottom: 10rem;
}
.right,
.text-content {
  -ms-flex-direction: column;
  -webkit-box-direction: normal;
  flex-direction: column;
}
.text-content {
  margin-left: 2rem;
  -webkit-box-align: self-start;
  -ms-flex-align: self-start;
  align-items: self-start;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: end;
  gap: 1.2rem;
}
.text-content p {
  font-size: 1.2rem;
  line-height: 1.5;
}
.text-content a {
  color: #fff;
  background-color: #d22e2e;
  border: 1px solid #d22e2e;
  border-radius: 50rem;
  padding: 1rem;
  font-size: 1.5rem;
}
.text-content a:hover {
  color: #d22e2e;
  background-color: #fff;
  text-decoration: none;
}
.left h2 {
  font-size: 6rem;
}
.right {
  background: -o-linear-gradient(#101010, #1f1f1f, #101010);
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#101010),
    color-stop(#1f1f1f),
    to(#101010)
  );
  background: linear-gradient(#101010, #1f1f1f, #101010);
}
.welcome {
  color: #d22e2e;
  font-size: 5rem;
  font-weight: 600;
  margin-bottom: 10rem;
}
.movies-container {
  gap: 50px;
  margin-left: 1rem;
  padding: 4rem 2rem;
  border-left: 3px solid #fff;
}
.movie-card img,
.movie-card2 img {
  width: 100%;
  height: auto;
  border-radius: 1rem;
}
.movie-card {
  width: 100%;
}
.movie-card2:hover,
.movie-card:hover {
  -webkit-filter: blur(8px);
  filter: blur(8px);
}
.movie-card2 {
  width: 100%;
  height: 100px;
}
footer {
  background-color: #101010;
  gap: 2rem;
}
.authors-container {
  gap: 2rem;
  max-width: 100%;
}
footer img {
  height: 8rem;
  margin: 2rem 0;
  border-radius: 11rem;
}
footer p {
  color: #fff;
  font-size: 2rem;
}
.actors-ul li:hover,
footer a:hover {
  scale: 1.1;
}
body {
  -ms-flex-direction: column;
  -webkit-box-direction: normal;
  flex-direction: column;
  min-height: 100vh;
}
.actors-main {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  height: 100%;
  background-image: -o-linear-gradient(#101010, #1f1f1f, #101010);
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#101010),
    color-stop(#1f1f1f),
    to(#101010)
  );
  background-image: linear-gradient(#101010, #1f1f1f, #101010);
}
.actors-main .right {
  width: 70%;
  /* padding-top: 100px; */
  /* padding-bottom: 100px; */
}
/* .actors-main section {
  width: 70%;
  padding-top: 100px;
  padding-bottom: 100px;
} */
.actors-h2 {
  font-size: 45px;
  color: #fff;
  padding: 0 30px;
}
.actors-h2::after {
  background-color: #fff;
  border-radius: 3.5px;
  content: "";
  display: inline-block;
  top: -15px;
  height: 5px;
  width: 100%;
}
img.actor-box {
  width: 20vw;
  height: 20vw;
  -o-object-fit: fill;
  object-fit: fill;
  border-radius: 1rem;
}
.actors-p {
  padding-top: 15px;
  font-size: 22px;
  max-width: 20rem;
  overflow-wrap: break-word;
  color: #fff;
  font-weight: 700;
}
.actors-ul {
  list-style: none;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.actors-ul li {
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
div.about-us {
  border-radius: 50%;
  width: 60px;
  height: 60px;
  background-color: #fff;
  margin-right: 20px;
}
@media screen and (max-width: 1070px) {
  img.actor-box {
    width: 20vw;
    height: 20vw;
  }
  .actors-p {
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 535px) {
  .actors-h2 {
    font-size: 30px;
    padding: 0;
    text-align: center;
  }
  .actors-h2::after {
    content: "";
    height: 0;
  }
  .actors-ul li {
    padding: 5px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .actors-p {
    font-size: 12px;
  }
}
div.reviewBG {
  width: 100%;
  background: #171717;
  opacity: 0.9;
  z-index: 1;
  top: 0;
  bottom: 0;
  right: 0;
}
#main-bg,
div.actorReview {
  background-color: #0a0a0a;
}
div.actorReview {
  margin: 0;
  border-radius: 50px;
  width: 80%;
  top: 100px;
  overflow-y: auto;
  color: #fff;
  overflow-x: hidden;
}
#title-name,
.info > h1 {
  font-size: 2.4rem;
  margin-bottom: 2rem;
}
#main-bg {
  padding: 0 5vh;
  -ms-flex-direction: column;
  -webkit-box-direction: normal;
  flex-direction: column;
}
.singleActor-h3 {
  font-size: 2.4rem;
  padding-top: 1em;
  font-weight: 1100;
}
.singleActor-h4 {
  font-size: 1.92rem;
  padding-bottom: 1.6rem;
  font-weight: 800;
}
#side-info h3,
.info p,
.singleActor-h5 {
  font-size: 1.6rem;
}
.singleActor-h5 {
  line-height: 0;
  padding-top: 20px;
  font-weight: 700;
}
.singleActor-p {
  font-size: 1.12rem;
  text-align: justify;
  font-family: Prompt, sans-serif;
  color: #d9d9d9;
}
.st-info h5,
.st-info p {
  text-align: right;
}
.nd-info h5,
.nd-info p {
  text-align: left;
}
#act-picture,
#bio-info,
#rel-movies,
#side-info {
  padding-top: 3.2rem;
}
#bio-info {
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
#top-info {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
#side-info {
  gap: 20px;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
#act-picture {
  background-image: url("https://images.unsplash.com/photo-1496302662116-35cc4f36df92?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1170&q=80.jpg");
  height: 25.6rem;
  width: 60vw;
  border-radius: 40px;
  -ms-grid-column-align: center;
  justify-self: center;
}
#spidy,
#trailer-container > iframe {
  width: 80vw;
  border-radius: 40px;
}
#rel-movies h4 {
  margin-left: 8.2rem;
  margin-bottom: 3rem;
}
.actmovie {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 3.2rem;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-top: 3rem;
}
.actmovie section {
  width: 50vw;
  height: 16rem;
  border-radius: 40px;
}
@media screen and (min-width: 750px) {
  #side-info,
  .info > div {
    -webkit-box-direction: normal;
  }
  #bio-info,
  #side-info {
    overflow-wrap: break-word;
  }
  #side-info h5,
  #side-info p {
    text-align: end;
  }
  #top-info {
    display: -ms-grid;
    display: grid;
    padding-top: 4.8rem;
    -ms-grid-columns: auto auto auto auto;
    grid-template-columns: auto auto auto auto;
  }
  #bio-info {
    -ms-grid-column: 3;
    grid-column-start: 3;
    -ms-grid-column-span: 2;
    grid-column-end: 5;
    max-height: 50vh;
  }
  #rel-movies {
    padding-top: 7vh;
  }
  #rel-movies .actmovie section {
    min-width: 16rem;
    max-width: 19.2rem;
    height: 19.2rem;
  }
  #act-picture {
    min-width: 24rem;
    min-height: 40rem;
    max-width: 40vh;
    height: 32rem;
    -ms-grid-column: 2;
    grid-column-start: 2;
    -ms-grid-column-span: 1;
    grid-column-end: 3;
  }
  .info > div {
    -webkit-box-orient: horizontal;
    -ms-flex-direction: row;
    flex-direction: row;
    gap: 30px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: start;
  }
  #bio-info h4 {
    text-align: start;
  }
  #side-info {
    -webkit-box-orient: vertical;
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: right;
    padding-top: 20px;
    gap: 0;
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-column-span: 1;
    grid-column-end: 2;
  }
  #side-info h5 {
    padding-top: 30px;
  }
  .singleActor-p {
    font-size: 1.6rem;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
  }
}
#side-info,
.actmovie,
.info > div {
  display: -webkit-box;
  display: -ms-flexbox;
}
#side-info,
.info > h1 {
  text-align: start;
}
@media (min-width: 750px) and (max-width: 1250px) {
  #bio-info {
    overflow-y: scroll;
  }
}
body,
html {
  margin: 0;
}
.info {
  color: #fff;
  padding: 0 10vw;
  text-align: justify;
}
#title-name {
  margin-left: -20rem;
}
#side-info {
  display: flex;
  gap: 30px;
  padding: 3em 0;
}
#side-info p {
  font-size: 3rem;
}
.info > div {
  display: flex;
  -webkit-box-orient: vertical;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
#spidy {
  height: 20rem;
}
#spidy img {
  max-height: 100%;
}
#main-bg {
  -webkit-box-flex: display;
  -ms-flex: display;
  flex: display;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
#actors,
#production,
#similar {
  text-align: center;
  color: #fff;
  padding-top: 2em;
}
#actors div section {
  width: 35vw;
  height: 12em;
  border-radius: 40px;
}
.actmovie {
  font-weight: 800;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 2rem;
}
#similar > h4 {
  font-size: 2.5rem;
}
#similar .actmovie section {
  height: 10em;
  border-radius: 40px;
}
@media screen and (min-width: 767px) {
  #side-info,
  .info > div {
    -webkit-box-direction: normal;
  }
  #actors div section {
    max-width: 10rem;
  }
  #similar .actmovie section {
    max-width: 12rem;
    height: auto;
  }
  .info > div {
    -webkit-box-orient: horizontal;
    -ms-flex-direction: row;
    flex-direction: row;
    gap: 30px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  #trailer-container > iframe {
    width: 25em;
  }
  #spidy {
    max-width: 40em;
    height: 35em;
  }
  #side-info {
    -webkit-box-orient: vertical;
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: end;
    gap: 0;
  }
  #side-info p {
    font-size: 1.3rem;
  }
  #actors > h1 {
    text-align: center;
    padding-left: 4rem;
  }
}
.dropdown-toggle {
  color: #fff;
  background: 0 0;
  border: none;
  cursor: pointer;
}
.dropdown {
  display: none;
  padding: 0;
  margin: 0;
  width: 100%;
}
.dropdown li {
  background-color: #fff;
  padding: 10px;
}
.dropdown li a {
  color: #333;
}
.dropdown-toggle:focus + .dropdown,
.dropdown:hover {
  display: block;
}
.dropdown.show {
  display: block;
}
